{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="graid-table">
            <thead>
            <tr>
                <th>Members</th>
                {% for guild_raid in weekly_guild_raids %}
                    <th>{{ guild_raid.title }}</th> {# Assuming each raid has a 'title' attribute #}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for member in guild_members %}
                <tr>
                    <td>{{ member.username }}</td> {# Assuming each member has a 'username' attribute #}
                    {% for raid in weekly_guild_raids %}
                        <td>yes</td> {# Simplified for demonstration #}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
