{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Information</h4>
        <p>Vous êtes correctement authentifié, mais ne possédez pas les droits requis pour avoir accès à l'application.</p>
        <hr>
        <p class="mb-0">Si ce message s'affiche par erreur, merci de notifier un administrateur.</p>
    </div>
{% endblock %}