{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Information</h4>
            <p>Bienvenue sur l'index.</p>
        </div>
    </div>
{% endblock %}
