parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - 'src/Kernel.php'
        - 'vendor/*'
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: console-loader.php
