{% extends 'base.html.twig' %}

{% block title %}Edit GuildEvent{% endblock %}

{% block body %}
    <h1>Edit GuildEvent</h1>

    {{ include('guild_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('guild_event_index') }}">back to list</a>

    {{ include('guild_event/_delete_form.html.twig') }}
{% endblock %}
