{% extends 'base.html.twig' %}

{% block title %}New GuildEvent{% endblock %}

{% block body %}
    <h1>Create new GuildEvent</h1>

    {{ include('guild_event/_form.html.twig') }}

    <a href="{{ path('guild_event_index') }}">back to list</a>
{% endblock %}
