{% extends 'base.html.twig' %}

{% block body %}
    <h1>GuildEvent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guild_event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ guild_event.title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ guild_event.start ? guild_event.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ guild_event.end ? guild_event.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="#">back to list</a>

    <a href="#">edit</a>
{% endblock %}
