<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('logo/VirtualSquirrelsLogo.png') }}" alt="Logo" style="height: 30px; margin-right: 10px;">
            RaidPlanner
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    {% if is_granted('ROLE_OLDMEMBER') %}
                        {%  include 'components/navbar/links/_calendar.html.twig' %}
                    {% endif %}
                    {%  if is_granted('ROLE_TRIAL') %}
                        {%  include 'components/navbar/links/_police.html.twig' %}
                        {% include 'components/navbar/links/_builds.html.twig' %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% include 'components/navbar/links/admin/_administration.html.twig' %}
                    {% endif %}
                {% endif %}
            </ul>

            {% if app.user %}
                {% include 'components/navbar/links/_profile.html.twig' %}
            {% endif %}
        </div>
    </div>
</nav>
