<div class="container my-5">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{ path('app_privacy') }}" class="nav-link px-2 text-body-secondary">Confidentialité</a></li>
            <li class="nav-item"><a href="https://virtualsquirrels.fr" class="nav-link px-2 text-body-secondary">Official website</a></li>
            <li class="nav-item"><a href="https://github.com/Orden14/RaidPlanner" class="nav-link px-2 text-body-secondary">Repository</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Virtual Squirrels</p>
    </footer>
</div>