<li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') starts with 'calendar_' ? 'active' : '' }}" aria-current="page" href="{{ path('calendar_index') }}">Planning</a>
</li>
