<li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') starts with 'event_attendance_graid_week' ? 'active' : '' }}" aria-current="page" href="{{ path('event_attendance_graid_week') }}">La police</a>
</li>
