<li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') starts with 'guild_event_police' ? 'active' : '' }}" aria-current="page" href="{{ path('guild_event_police') }}">La police</a>
</li>
