.btn-primary {
    background-color: #22A39F !important;
    border-color: #22A39F !important;
}

.btn-primary:hover {
    background-color: #147573 !important;
    border-color: #147573 !important;
}

form .form-control:focus{
    border-color: #22A39F !important;
    box-shadow: 0 0 0 0.2rem rgba(34, 163, 159, 0.1) !important;
}

.customColor {
    color: #22A39F !important;
}

.nav-item .img-profile {
    height: 2rem;
    width: 2rem;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

input[type="color"] {
    padding: 0;
}

.select-icon {
    width: 21px;
    height: 21px;
}

.small-icon {
    width: 30px;
    height: 30px;
}

.jobCard {
    width: 170px;
    height: 255px !important;
}

.cardIcon {
    padding: 30px 30px 0 30px;
}

@media screen and (max-width: 600px) {
    .jobCard {
        width: 130px;
        height: 195px !important;
    }

    .jobCard h5 {
        font-size: 0.9em;
    }

    .jobCard a {
        font-size: 0.7em;
    }
}

/*bootstrap-select restyling*/
.bootstrap-select .no-results {
    background: rgb(33, 37, 41) !important;
}

.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
    background-color: rgb(46, 53, 56) !important;
}