:root {
    --primary-color: #22A39F;
    --primary-focus-color: #147573;
}

.cursor-pointer {
    cursor: pointer !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-focus-color) !important;
    border-color: var(--primary-focus-color) !important;
}

form .form-control:focus{
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(34, 163, 159, 0.1) !important;
}

form .form-check-input:checked {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(34, 163, 159, 0.1) !important;
}

.customColor {
    color: var(--primary-color) !important;
}

.full-width {
    width: 100%;
}

.nav-item .img-profile {
    height: 2rem;
    width: 2rem;
}

.dropdown-item:active {
    background-color: var(--primary-color) !important;
}

footer .nav-link:hover {
    color: #ffffff !important;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

input[type="color"] {
    padding: 0;
}
