:root {
    --primary-color: rgb(34, 163, 159);
    --primary-focus-color: rgb(20, 117, 115);
}

.cursor-pointer {
    cursor: pointer !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-focus-color) !important;
    border-color: var(--primary-focus-color) !important;
}

.custom-link-primary {
    color: var(--primary-color) !important;
}

.custom-link-primary:hover {
    color: var(--primary-focus-color) !important;
}

form .form-control:focus{
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(34, 163, 159, 0.1) !important;
}

form .form-check-input:checked {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(34, 163, 159, 0.1) !important;
}

.customColor {
    color: var(--primary-color) !important;
}

.full-width {
    width: 100%;
}

.nav-item .img-profile {
    height: 2rem;
    width: 2rem;
}

.dropdown-item:active {
    background-color: var(--primary-color) !important;
}

footer .nav-link:hover {
    color: rgb(255, 255, 255) !important;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

input[type="color"] {
    padding: 0;
}

label.required:after {
    content: " *";
    color: rgb(255, 0, 0);
}

.small-head-text {
    font-size: 1rem;
    padding-left: 5px;
}
