input[type="color"] {
    padding: 0;
}

.select-icon {
    width: 21px;
    height: 21px;
}

.small-icon {
    width: 30px;
    height: 30px;
}

.card {
    width: 170px;
}

.cardIcon {
    padding: 30px 30px 0 30px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 130px;
    }

    .card h5 {
        font-size: 0.9em;
    }

    .card a {
        font-size: 0.7em;
    }
}

/*bootstrap-select restyling*/
.bootstrap-select .no-results {
    background: rgb(33, 37, 41) !important;
}

.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
    background-color: rgb(46, 53, 56) !important;
}