<a class="btn btn-outline-primary mx-1 d-none d-lg-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mon compte" href="{{ path('app_home') }}">
    <i class="bi bi-person-fill"></i>
</a>
<a class="btn btn-outline-danger mx-1 my-sm-0 d-none d-lg-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Déconnexion" href="{{ path('app_logout') }}">
    <i class="bi bi-box-arrow-right" aria-hidden="true"></i>
</a>

<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mon compte" href="{{ path('app_home') }}">
            Mon compte
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Déconnexion" href="{{ path('app_logout') }}">
            Déconnexion
        </a>
    </li>
</ul>
