<a class="btn btn-outline-dark mx-1 d-none d-lg-block" href="{{ path('app_login') }}">Connexion</a>
<a class="btn btn-outline-dark mx-1 d-none d-lg-block" href="{{ path('app_register') }}">S'enregistrer</a>

<ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none">
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Connexion" href="{{ path('app_login') }}">
            Connexion
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="S'enregistrer" href="{{ path('app_register') }}">
            S'enregistrer
        </a>
    </li>
</ul>
