{% extends 'base.html.twig' %}
{% block header %} {%  endblock %}

{% block container %}
    <div class="container mt-5 text-center">
{% endblock %}

{% block body %}
    <img src="{{ asset('logo/VirtualSquirrelsLogo.png') }}" alt="logo" class="img-fluid mt-4">
    <h1 class="display-4">Oops! Erreur 404</h1>
    <p class="lead">Nous avons affaire à un écureuil perdu.</p>
    <p class="mt-4">
        Si c'est la wing 8 que vous cherchiez, sachez qu'elle n'existe (toujours) pas.
        Nous vous recommandons de <a href="{{ path('app_home') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}

{% block container_end %}
    </div>
{% endblock %}

{% block footer %} {% endblock %}
