{% extends 'base.html.twig' %}

{% block title %}New Specialization{% endblock %}

{% block body %}
    <h1>Create new Specialization</h1>

    {{ include('specialization/_form.html.twig') }}

    <a href="{{ path('specialization_index') }}">back to list</a>
{% endblock %}
