{% extends 'base.html.twig' %}

{% block container %} {% endblock %}
{% block container_end %} {% endblock %}

{% block body %}
    <div
        id="calendar-holder"
        data-events-url="{{ path('fc_load_events') }}"
    ></div>

    {{ include('guild_event/_new_guild_event_modal.html.twig') }}
{% endblock %}

{% block optional_script %}
    {{ encore_entry_link_tags('calendar') }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}
